<div class="container">
  <div class="row justify-content-md-center">
    <div class="about">
      <div class="about-inner">
        <h2>Welcome!</h2>
        <p>
          MagicTrackr was created out of frustration with using Excel to manage a team's
        time.  As the team grew, and the number of projects projects grew it became
        unmanagable to use a spreadsheet to report hours worked. This tracking and
        reporting was  necessicary to ensure the bills were paid and the right people
        were spending their time on the right projects there was just no good way of
        seeing this information from 20,000 ft.
        </p>

        <p>
          MagicTrackr solves these issues by presenting your whole team, all projects,
           and time spent on tasks in one place!
          </p>
        <p>
          Right now MagicTrackr is running beta tests for small teams if you are
          interested please reach out to @travisfantina or fork the repo!
          </p>
          <h2>Features</h2>
          <p>
            <%= image_tag "new_tsk.png", width: "70%", alt: "Add user task",
                style: "float: right; padding: 10px;"%>
            Whether you’re a freelancer tracking time or an invoice or a large
            team preparing an annual budget report, MagicTracker provides
            features for individuals to comment on their time spent on tasks
            and contributions made to every project.
            <br />
             You can also add collaborators to a task which will add the time
             they spent in the project report.
            </p>


          <p>
            <%= image_tag "personal_tsk.png", width: "100%", alt: "Show your tasks"%>
            <br />
            See all your individual tasks at a glance.
            </p>
          <p>
            <%= image_tag "project_overview.png", width: "100%", alt: "Project overview" %>
            <br />
            Who's done what on the project? How close are you to completion?
            </p>

        </div>

      </div>

    </div>

  </div>
