<div class="container">
  <div class="row justify-content-md-center">
    <div class="features">
      <div class="features-inner">
        <h2>Features</h2>
        <span>
          <%= image_tag "new_tsk.png" %>
        </span>
        <span>
          <%= image_tag "personal_tsk.png" %>
        </span>
        <span>
          <%= image_tag "project_overview.png" %>
        </span>
        </div>

      </div>

    </div>

  </div>
