<div class="hero">

<div class="container">
  <div class="row justify-content-md-center">
    <div class="jumbotron">
      <h1>Hi 👋 welcome to MagicTrackr</h1>
      <hr class="my-4" />
      An easy way to track your team's time.
      <div class="row justify-content-sm-center">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
      <div class="row justify-content-sm-center">
      <%= link_to "Login", new_user_session_path %>

      </div>

    </div>
  </div>
</div>

</div>
