<% provide(:title, "Welcome") %>
<div class="hero">

<div class="container">
  <div class="row justify-content-md-center">
    <div class="row">
      <div id="hero-welcome">

          <div id="hero-inner">
              <h1>MagicTrackr</h1>
      <h2>Tracking all the magic in one place</h2>


      <div id="hero-btns">
        <%= link_to "Learn More", new_user_registration_path, class: "btn btn-success" %>
        </br>

        <%= link_to "Login", new_user_session_path %>

        </div>
      <div id="people-img">

        <?xml version="1.0" encoding="UTF-8"?>
<svg width="519px" height="375px" viewBox="0 0 519 375" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 55.1 (78136) - https://sketchapp.com -->
    <title>People</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="39.7732116%" y1="33.2147562%" x2="53.8926275%" y2="38.7540606%" id="linearGradient-1">
            <stop stop-color="#FFFFFF" stop-opacity="0" offset="0%"></stop>
            <stop stop-color="#000000" stop-opacity="0.179632867" offset="100%"></stop>
        </linearGradient>
        <path d="M44.2833634,95.3846871 C38.694307,94.5248323 35.4698514,97.3193605 34.6099966,103.768272 C33.3202144,113.441639 31.385541,126.984352 25.5815209,152.135106 C19.7775008,177.28586 6.23478722,225.007803 4.94500497,241.130081 C3.65522273,257.252359 -6.66303523,319.161907 7.52456946,380.426563 C9.45924283,384.940801 16.647534,384.957687 25.5815209,384.29591 C34.0595943,383.667904 42.3486901,382.361237 42.3486901,377.846999 C42.3486901,371.398087 36.54467,306.908975 45.5731457,295.300935 C54.6016214,283.692895 59.8432714,292.324042 63.6300971,303.68452 C74.3533216,335.854193 67.4994438,379.136781 74.5932462,382.361237 C81.6870485,385.585692 86.8461775,384.29591 92.0053065,384.29591 C99.7945873,384.29591 106.791753,382.960013 107.482693,380.426563 C107.482693,375.912325 106.837802,373.332761 106.423496,368.046979 C103.884528,335.654483 91.8391201,248.477036 142.951705,174.706295 C188.738975,116.666094 195.187886,114.731421 197.767451,103.768272 C200.347015,92.8051226 200.347015,85.7113203 188.094084,85.7113203 C177.095205,85.7113203 144.271411,118.448692 128.33864,156.402468 C126.522044,160.729819 125.247359,161.517715 127.159289,151.259085 C130.330283,134.244834 134.242714,111.098727 132.633447,108.28251 C130.053883,103.768272 121.670298,103.768272 121.670298,103.768272 C121.670298,103.768272 95.8746532,100.973744 44.2833634,95.3846871 Z" id="path-2"></path>
        <linearGradient x1="36.21875%" y1="0%" x2="63.78125%" y2="36.8554688%" id="linearGradient-3">
            <stop stop-color="#8C2299" offset="0%"></stop>
            <stop stop-color="#AF2BBF" offset="100%"></stop>
        </linearGradient>
        <path d="M11.3902449,0 L27.6522536,9.41484716 C28.7934472,10.5560408 28.7934472,11.9825328 27.6522536,13.6943231 C26.51106,15.4061135 20.805092,22.2532751 10.5343497,34.2358079" id="path-4"></path>
        <linearGradient x1="40.5306927%" y1="0%" x2="59.4693073%" y2="36.8554688%" id="linearGradient-5">
            <stop stop-color="#8C2299" offset="0%"></stop>
            <stop stop-color="#AF2BBF" offset="100%"></stop>
        </linearGradient>
        <path d="M0,0 L5.99126638,8.55895197 L19.6855895,25.6768559 C20.2561863,26.2474527 20.2561863,27.1033479 19.6855895,28.2445415 C19.1149927,29.3857351 16.2620087,35.3770015 11.1266376,46.2183406" id="path-6"></path>
        <linearGradient x1="41.0368097%" y1="95.5558402%" x2="50%" y2="43.52427%" id="linearGradient-7">
            <stop stop-color="#8C2299" offset="0%"></stop>
            <stop stop-color="#AF2BBF" offset="100%"></stop>
        </linearGradient>
        <path d="M165.759484,65.6197462 C177.742017,55.9196006 183.733283,37.9458015 183.733283,11.6983488" id="path-8"></path>
        <radialGradient cx="67.390199%" cy="27.9235872%" fx="67.390199%" fy="27.9235872%" r="85.3296658%" gradientTransform="translate(0.673902,0.279236),rotate(129.017680),scale(1.000000,1.033648),translate(-0.673902,-0.279236)" id="radialGradient-9">
            <stop stop-color="#FFFFFF" stop-opacity="0.5" offset="0%"></stop>
            <stop stop-color="#000000" stop-opacity="0.360686189" offset="100%"></stop>
        </radialGradient>
        <circle id="path-10" cx="102.42324" cy="82.7376501" r="69.043327"></circle>
        <path d="M1.73977468,3.64208204 C4.79393403,8.42257872 11.6245948,9.59820771 20.2579291,9.59820771 C29.0213151,9.59820771 37.1812041,8.38689281 40.81353,3.42358079 C40.9182217,3.99922488 41.0082443,4.63094186 41.0835977,5.31873173 C41.0835977,15.9544337 37.9024044,30.2108341 20.7128555,29.5236137 C3.52330667,28.8363933 1.7124187,15.9544337 1.7124187,5.31873173 C1.70920438,4.73143325 1.71832304,4.17255002 1.73977468,3.64208204 Z" id="path-11"></path>
    </defs>
    <g id="HomePage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Site" transform="translate(-652.000000, -105.000000)">
            <g id="People" transform="translate(651.000000, 94.500000)">
                <g id="Man" transform="translate(271.000000, 0.000000)">
                    <path d="M136.595537,13.1591317 L142.716807,27.5546156 L124.652146,27.1839393 L129.110947,13.4862683 C129.79474,11.3856202 132.051976,10.2370323 134.152624,10.9208253 C135.252181,11.2787479 136.143044,12.0949965 136.595537,13.1591317 Z" id="Rectangle" fill="#D8D8D8" transform="translate(133.684477, 15.442967) rotate(-36.000000) translate(-133.684477, -15.442967) "></path>
                    <path d="M226.516786,143.471166 L244.573737,143.471166 L244.573737,167.711411 C244.573737,172.6977 240.531551,176.739886 235.545262,176.739886 C230.558972,176.739886 226.516786,172.6977 226.516786,167.711411 L226.516786,143.471166 Z" id="Rectangle" fill="#B8033A" transform="translate(235.545262, 160.105526) rotate(-35.000000) translate(-235.545262, -160.105526) "></path>
                    <polygon id="Rectangle" fill="#858585" transform="translate(231.182705, 153.875150) rotate(-35.000000) translate(-231.182705, -153.875150) " points="222.15423 144.846675 240.211181 144.846675 240.211181 162.903626 222.15423 162.903626"></polygon>
                    <polygon id="Rectangle" fill="#FBB814" transform="translate(183.780115, 86.155942) rotate(-35.000000) translate(-183.780115, -86.155942) " points="174.751639 11.3485723 192.80859 11.3485723 192.80859 160.963313 174.751639 160.963313"></polygon>
                    <polygon id="Rectangle" fill="#FBC714" transform="translate(180.082268, 88.745203) rotate(-35.000000) translate(-180.082268, -88.745203) " points="175.56803 13.9378328 184.596505 13.9378328 184.596505 163.552573 175.56803 163.552573"></polygon>
                    <path d="M69.804804,49.04541 L73.9894215,48.6403536 C77.1538773,48.3340453 80.2206132,49.8382112 81.9155763,52.5279521 C83.4161992,54.9093022 84.2706875,57.5650647 84.4790414,60.4952396 C85.7306494,78.0971728 86.6747112,95.8580961 87.3112267,113.778009 L58.409725,113.778009 C57.4230247,96.9273583 57.7426509,81.2539617 59.3686038,66.7578195 C60.1646626,59.6605781 63.643396,53.7564416 69.804804,49.04541 Z" id="Rectangle" fill="#3F8A79" transform="translate(72.580996, 81.006653) rotate(38.000000) translate(-72.580996, -81.006653) "></path>
                    <g id="Path">
                        <use fill="#53B6A0" xlink:href="#path-2"></use>
                        <use fill="url(#linearGradient-1)" style="mix-blend-mode: overlay;" xlink:href="#path-2"></use>
                    </g>
                    <path d="M57.8671309,162.849886 L57.8671309,166.047101 C57.8671309,167.427813 58.986419,168.547101 60.3671309,168.547101 L60.4272521,168.547101 C61.8079639,168.547101 62.9272521,167.427813 62.9272521,166.047101 L62.9272521,162.849886 L57.8671309,162.849886 Z" id="Rectangle" stroke="#353535" fill="#FFFFFF" transform="translate(60.397191, 165.698494) rotate(10.000000) translate(-60.397191, -165.698494) "></path>
                    <path d="M51.7764015,162.179054 L51.7764015,165.394045 C51.7764015,166.774757 52.8956897,167.894045 54.2764015,167.894045 L54.5228396,167.894045 C55.9035515,167.894045 57.0228396,166.774757 57.0228396,165.394045 L57.0228396,162.179054 L51.7764015,162.179054 Z" id="Rectangle" stroke="#353535" fill="#FFFFFF" transform="translate(54.399621, 165.036550) rotate(13.000000) translate(-54.399621, -165.036550) "></path>
                    <path d="M42.9935812,157.294235 C54.171694,163.743146 66.2096616,164.388037 79.107484,159.228908" id="Path-2" stroke="#353535" stroke-width="3"></path>
                    <path d="M79.107484,157.294235 C79.107484,159.013945 80.3972663,160.733654 82.9768308,162.453364" id="Path-3" stroke="#353535" stroke-width="3" stroke-linecap="round"></path>
                    <path d="M46.8629279,152.779997 C44.2833634,156.649344 41.9187627,158.584017 39.7691256,158.584017" id="Path-4" stroke="#353535" stroke-width="3" stroke-linecap="round"></path>
                    <g id="Eye" transform="translate(65.225593, 134.538419) rotate(-12.000000) translate(-65.225593, -134.538419) translate(49.225593, 121.038419)">
                        <path d="M13.8456361,3.22445561 C14.2755635,1.50474595 14.0605998,0.429927415 13.2007449,-1.13686838e-13" id="Path-5" stroke="#212529" stroke-linecap="round"></path>
                        <path d="M26.1520489,7.30791153 C26.5819764,5.58820187 26.3670127,4.51338334 25.5071578,4.08345592" id="Path-5" stroke="#212529" stroke-linecap="round" transform="translate(25.937085, 5.695684) scale(-1, 1) rotate(-35.000000) translate(-25.937085, -5.695684) "></path>
                        <path d="M19.5661835,4.55729089 L20.8673843,1.53737778" id="Path-6" stroke="#212529" stroke-linecap="round"></path>
                        <ellipse id="Oval" stroke="#212529" fill="#FFFFFF" transform="translate(16.122278, 13.215860) rotate(17.000000) translate(-16.122278, -13.215860) " cx="16.1222781" cy="13.2158596" rx="13.5427136" ry="9.67336683"></ellipse>
                        <ellipse id="Oval" fill="#212529" cx="15.6090318" cy="13.2158596" rx="3.37920249" ry="3.35749589"></ellipse>
                    </g>
                    <path d="M222.273313,157.036278 L237.105809,146.460064" id="Path-7" stroke="#353535"></path>
                    <path d="M224.207987,159.744821 L239.040482,149.555541" id="Path-7" stroke="#353535"></path>
                    <path d="M226.14266,162.453364 L240.975156,152.135106" id="Path-7" stroke="#353535"></path>
                </g>
                <g id="Woman" transform="translate(0.000000, 189.000000)">
                    <g id="RLeg" transform="translate(112.430375, 144.362104)">
                        <g id="Path-13" stroke-width="8">
                            <use stroke="#AF2BBF" xlink:href="#path-4"></use>
                            <use stroke="url(#linearGradient-3)" xlink:href="#path-4"></use>
                        </g>
                        <ellipse id="Oval" fill="#AF2BBF" transform="translate(11.554585, 36.467715) rotate(-49.000000) translate(-11.554585, -36.467715) " cx="11.5545852" cy="36.4677149" rx="6.41921397" ry="9.20087336"></ellipse>
                    </g>
                    <g id="Leg" transform="translate(68.187432, 135.803152)">
                        <g id="Path-14" stroke-width="8">
                            <use stroke="#AF2BBF" xlink:href="#path-6"></use>
                            <use stroke="url(#linearGradient-5)" xlink:href="#path-6"></use>
                        </g>
                        <ellipse id="Oval" fill="#AF2BBF" transform="translate(12.647858, 48.524431) rotate(-49.000000) translate(-12.647858, -48.524431) " cx="12.6478575" cy="48.5244307" rx="6.41921397" ry="9.20087336"></ellipse>
                    </g>
                    <g id="Path-8" stroke-width="8">
                        <use stroke="#AF2BBF" xlink:href="#path-8"></use>
                        <use stroke="url(#linearGradient-7)" xlink:href="#path-8"></use>
                    </g>
                    <path d="M181.341638,7.73200304 C181.606694,7.65146819 181.879074,7.57790196 182.157835,7.51205584 C182.107343,6.93772279 182.064923,6.32822169 182.021489,5.70708272 C181.81583,2.76602116 181.665309,0.677761634 182.790086,0.599109553 C183.914863,0.520457472 184.383519,2.76602087 184.589178,5.70708242 C184.624237,6.20844914 184.64939,6.69766212 184.661424,7.16468478 C185.474567,7.13313758 186.236057,7.18729603 186.911258,7.31819644 C186.98532,6.79187028 187.071424,6.24652762 187.156864,5.70708242 C187.563568,3.13925249 187.801197,1.67743715 188.734953,1.82532963 C189.66871,1.9732221 190.131254,3.99514769 189.72455,6.56297762 C189.619862,7.22394985 189.467784,7.85666462 189.283725,8.42935259 C189.53814,8.69616501 189.709263,9.00061835 189.781097,9.33857268 C190.168643,11.1618325 187.519549,13.2697373 183.86418,14.0467099 C181.996477,14.4437026 180.227441,14.4164191 178.892146,14.051575 C178.31383,14.1348051 177.678242,14.1537006 177.015782,14.0957428 C174.523561,13.8777017 172.594767,12.6545114 172.707701,11.3636709 C172.81516,10.1354026 175.019736,9.80033786 177.380295,9.95858549 C177.692077,9.6280308 178.079554,9.3094434 178.530068,9.01289355 C177.21792,6.72991369 176.14374,4.54664077 177.103707,3.99240352 C178.08017,3.4286425 179.823122,5.09363707 181.165598,7.41887282 C181.226142,7.52373797 181.284837,7.6281551 181.341638,7.73200304 Z" id="Combined-Shape" fill="#AF2BBF"></path>
                    <path d="M11.0611036,38.635395 C11.4065345,38.516958 11.7655944,38.4107392 12.136062,38.3185666 C12.0968435,37.8530946 12.0620702,37.3599315 12.0274158,36.8474131 C11.8210234,33.7949809 11.6970085,31.2118893 12.8257792,31.1302583 C13.9545501,31.0486308 14.8966647,34.0473141 15.1030571,37.0997463 C15.1225711,37.3883464 15.1348095,37.6670942 15.1400198,37.9353418 C15.7530884,37.9346027 16.3317075,37.9856057 16.8600092,38.0841039 C16.906699,37.7400452 16.9592667,37.3834302 17.0151696,37.0184093 C17.4233247,34.3533399 17.8547058,32.2493927 18.7917803,32.4028749 C19.7288521,32.5563743 20.157625,34.8412688 19.7494699,37.5063383 C19.6528878,38.1369765 19.5180969,38.7323925 19.3561719,39.2719099 C19.6039634,39.5452279 19.7708633,39.8561478 19.8416668,40.2006 C20.2305485,42.0928852 17.5720448,44.2805815 13.9036917,45.0869652 C12.0293694,45.4989819 10.2540636,45.4706696 8.91402455,45.0920251 C8.33364565,45.1784149 7.69578904,45.1980347 7.03096371,45.1378922 C4.52989271,44.9115594 2.59424759,43.6420671 2.70757719,42.3023634 C2.82091772,40.9626606 4.94031529,40.0600647 7.44139295,40.2863214 C7.60281412,40.3009291 7.76188001,40.3198821 7.91819175,40.3429188 C7.95788032,40.3091171 7.99830795,40.2755023 8.03946075,40.2420859 C8.0097683,40.1904123 7.98024123,40.1382829 7.95089106,40.0857093 C6.60363463,37.6724341 5.5634754,34.6007928 6.54337458,34.0156359 C7.52333775,33.4305899 9.59796612,36.0126497 10.9452225,38.4259249 C10.9844179,38.4961337 11.0230532,38.5659647 11.0611036,38.635395 Z" id="Combined-Shape" fill="#AF2BBF" transform="translate(11.303373, 38.257343) scale(-1, 1) rotate(29.000000) translate(-11.303373, -38.257343) "></path>
                    <path d="M50.2136326,85.3053357 C26.8191639,87.5877229 13.980736,73.3228029 11.6983488,42.5105759" id="Path-9" stroke="#AF2BBF" stroke-width="7"></path>
                    <g id="Oval">
                        <use fill="#AF2BBF" xlink:href="#path-10"></use>
                        <use fill-opacity="0.81" fill="url(#radialGradient-9)" style="mix-blend-mode: overlay;" xlink:href="#path-10"></use>
                    </g>
                    <g id="Eye" transform="translate(83.089537, 40.798785)">
                        <path d="M8.20706537,9.41484716 L5.63937978,5.13537118" id="Path-10" stroke="#212529" stroke-linecap="round"></path>
                        <path d="M17.6219125,5.13537118 L17.6219125,0" id="Path-11" stroke="#212529" stroke-linecap="round"></path>
                        <path d="M27.8926549,7.70305677 L30.4603405,2.56768559" id="Path-12" stroke="#212529" stroke-linecap="round"></path>
                        <path d="M18.8296943,32.8954429 C26.9534394,32.8954429 35.9475983,26.7450532 35.9475983,19.8978916 C35.9475983,13.0507301 26.9534394,5.18854996 18.8296943,5.18854996 C10.7059492,5.18854996 1.71179039,13.0507301 1.71179039,19.8978916 C1.71179039,26.7450532 10.7059492,32.8954429 18.8296943,32.8954429 Z" id="Oval" stroke="#212529" fill="#FFFFFF" transform="translate(18.829694, 19.041996) rotate(-7.000000) translate(-18.829694, -19.041996) "></path>
                        <circle id="Oval" fill="#212529" cx="18.7185198" cy="19.0704064" r="5.34015079"></circle>
                    </g>
                    <g id="Mouth" transform="translate(86.445415, 81.905023)">
                        <path d="M2.56069347,4.86267177 C5.61485283,9.64316844 12.4455136,10.8187974 21.0788479,10.8187974 C29.8422339,10.8187974 38.0021229,9.60748253 41.6344488,4.64417051 C41.7391405,5.21981461 41.8291631,5.85153159 41.9045165,6.53932145 C41.9045165,17.1750234 38.7233232,31.4314238 21.5337743,30.7442034 C4.34422547,30.056983 2.53333749,17.1750234 2.53333749,6.53932145 C2.53012318,5.95202297 2.53924184,5.39313974 2.56069347,4.86267177 Z" id="Smile" stroke="#212529" fill="#212529" transform="translate(22.218613, 17.706154) rotate(-8.000000) translate(-22.218613, -17.706154) "></path>
                        <g id="Tongue" transform="translate(0.534726, 0.396948)">
                            <g id="Combined-Shape" transform="translate(0.286193, 0.823642)">
                                <mask id="mask-12" fill="white">
                                    <use xlink:href="#path-11"></use>
                                </mask>
                                <use id="Mask" fill="#212529" transform="translate(21.397694, 16.485564) rotate(-8.000000) translate(-21.397694, -16.485564) " xlink:href="#path-11"></use>
                                <path d="M17.8564291,21.7875549 C17.5025847,23.4013051 17.4586389,25.1390147 17.7245916,27.0006837 C18.6866003,24.1146575 20.256828,21.431371 22.4352747,18.9508241 C23.707985,18.35047 25.1918498,18.0060527 26.7762684,18.0060527 C31.503247,18.0060527 35.3352203,21.0716313 35.3352203,24.8532142 C35.3352203,28.6347972 31.503247,31.7003758 26.7762684,31.7003758 C25.2671287,31.7003758 23.8492147,31.3879089 22.6180998,30.8394337 C22.5107138,30.9754629 22.3146971,31.1194703 22.0040676,31.2801597 C21.0257089,31.786267 14.757921,34.057013 13.5736252,34.057013 C9.70064177,34.057013 6.56096832,30.9914344 6.56096832,27.2098515 C6.56096832,23.4282685 9.70064177,20.3626899 13.5736252,20.3626899 C15.1862693,20.3626899 16.6717759,20.8941837 17.8564291,21.7875549 Z" fill="#ED0505" mask="url(#mask-12)"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
        </div>



      </div>
      </div>
    </div>
  </div>
</div>

</div>
