
<% if tasks.present? %>
<tbody>
<% tasks.each do |tsk| %>
<tr>
  <td><%= tsk.day %></td>
  <td><strong> <%= projects.find_by(id: tsk.project_id).name%></strong></td>
  <td>  <%= tsk.comments %>  </td>
  <td><%= tsk.time %></td>
</tr>
<% end %>
  </tbody>
<% end %>
