$("#new_task").reset();
//https://stackoverflow.com/questions/10633605/clear-form-values-after-submission-ajax


$(".new_task_form").html('<%= j render partial: "tasks/new" %>');


$("#active-tasks").prepend('<%= j render "new_added" %>');

if(!document.getElementById('tsk-add')) {
$("#new-task-form").append(
  "<div class='alert alert-success' id='tsk-add'><%= flash[:notice]  %></div>")
} else {
  $("#tsk-add").innerHTML("<%= flash[:notice] %>");
}
