

$("#new_task_form").html('<%= j render("new", locals: {usr_list: @user_list }) %>');

$("#active-tasks").prepend('<%= j render "new_added" %>');

if(!document.getElementById('tsk-add')) {
$("#new-task-form").append(
  "<div class='alert alert-success' id='tsk-add'><%= flash[:notice]  %></div>")
} else {
  $("#tsk-add").innerHTML("<%= flash[:notice] %>");
}
