$purple: #8a77dd;
$deep-purple: #7968c4;
$btn-purple: #6527C9;
$light-grey: #8c8c8c;
$link-grey: #131721;
$grey: #323232;
$white: #fff;

$primary-purple: #baacf9;
$primary-purple-dark: #7968C4;

$success-sea: #9afcf6;
$success-sea-dark: #5de7df;

$secondary-grey: #C9C9C9;
$secondary-grey-dark: #8A8A8A;
