$purple: #8a77dd;
$deep-purple: #7968c4;
$btn-purple: #6527C9;
$light-grey: #8c8c8c;
$link-grey: #131721;


$grey: #323232;
$white: #fff;

$primary-purple-lite: rgba(#7968c4, 0.8);
$primary-purple: #7968C4;
$primary-purple-dark: #56498F;
$purple-ultradark: #352576;

$success-sea-lite:rgba(#5de7df, 0.8);
$success-sea: #5EE7DF;
$success-sea-dark: #51DED5;
$success-sea-ultradark: #52D4CB;

$secondary-grey-lite:rgba(#696969, 0.8);
$secondary-grey: #696969;
$secondary-grey-dark: #5D5D5D;
$secondary-grey-ultradark: #4B4B4B;
