$purple: #7968c4;
$deep-purple: #7968c4;
$btn-purple: #6527c9;
$light-grey: #8c8c8c;
$link-grey: #131721;

$grey: #171717;
$white: #fff;

$primary-purple-lite: rgba(#7968c4, 0.7);
$primary-purple: #7968c4;
$primary-purple-dark: #6e5fb3;
$purple-ultradark: #6456a1;

$success-sea-lite: rgba(#5bc8af, 0.7);
$success-sea: #5bc8af;
$success-sea-dark: #53b6a0;
$success-sea-ultradark: #4ba490;

$secondary-grey-lite: rgba(#454545, 0.7);
$secondary-grey: #454545;
$secondary-grey-dark: #2e2e2e;
$secondary-grey-ultradark: #171717;
