// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "scrollbar";
@import "colors";

#new-task-form {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s, height 0.5s;
  -webkit-transition: opacity 0.5s, height 0.2s;
}

.shove {
  position: relative;
  transition: position 5s;
}

.current-tasks {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  padding: 0px;
}

.new-task-form {
  padding: 5px;
  margin-bottom: 10px;
}

.table {
  margin-top: 5px;
}

.thead-dark {
  border-radius: 5px;
}

.thead-dark > a:link {
  color: $white;
}

.thead-dark th > a:visited {
  color: $white;
}

.thread-dark a:hover {
  color: $light-grey;
}

.pagination > ul{
  padding-top: 10px;
  padding-bottom: 35px;
  margin: 20px;
}

%scroll-track {
}

.collaborators {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
}

.collaborators::-webkit-scrollbar-track {
  @extend %scroll-track;
}
.collaborators::-webkit-scrollbar {
  @extend %scroll-bar;
}
.collaborators::-webkit-scrollbar-thumb {
  @extend %scroll-thumb;
}
.page-link {
  color: $primary-purple;
}
.page-item.active .page-link {
  z-index: 1;
  color: $grey;
  background-color: $primary-purple;
  border-color: $primary-purple-dark;
}
